body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

#side{
   background-image: url(images/background-image.jpg); 
   
   height: 1000px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
}

#logo{
    width: 200px;
    height: 200px;
    background-color: black ;
    opacity: 0.5;
    display: flex;
    margin-top: 200px;
}

#logo img{
    height:60%
}

@font-face {
    font-family: "logo";
    src: url(fonts/Norse-Bold.otf);
}

#logo h1{
    font-family: logo,serif;
    color: aliceblue;
}

.inputs{
    border: none;
}